.fondo{
    padding-left: 10px;
    color: #FF4C29;
    font-size: 200%;
}
.fondo:hover{
    opacity: 90%!important;
}
.color{
background-color: #082032;

}
.letra a{
    font-size: 150%;
    color: #ff4c29 !important;
}
.letra a:hover{
    text-decoration: #FF4C29;
    opacity: 90%!important;
}
.carritos{
    padding-left: 5px;
    font-size: 150%;
    color: #FF4C29;
    align-items: center;
    
}

.lupita{
    color: #FF4C29;
    font-size: 110%;
    padding-left: 10px;
}
.botonOcultar{
    color: #FF4C29!important;
    background-color:#FF4C29!important;
}
.usuario{
    font-size: 155%;
    color: #FF4C29;
    /* align-items: center; */
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 200px!important;
}