.imagenadmin{
    height: 250px !important;;
    width: 275px!important;
    margin-top: 50px!important;
    border-radius: 100%!important;
}

.formuprod{
    width: 60rem!important;
    margin-top: 5% !important;
}