.formingreso{
    width: 300px !important;
    background-color: #082032;
    border-radius: 15px;
    font-weight: 500;
}

.cuerpologin{
    background-color:#334756 ;
    color: #FF4C29 
    }

.boton{
    background-color:#334756 !important;
    color: #FF4C29 !important;
    font-weight: 500 !important;
}